blosc2==2.7.0
defusedxml==0.7.1
et-xmlfile==1.1.0
msgpack==1.0.8
ndindex==1.8
numexpr==2.10.1
numpy==2.0.0
odfpy==1.4.1
openpyxl==3.1.5
packaging==24.1
pandas==2.2.2
py-cpuinfo==9.0.0
pyarrow==16.1.0
pyreadstat==1.2.7
python-calamine==0.2.0
python-dateutil==2.9.0.post0
pytz==2024.1
pyxlsb==1.0.10
six==1.16.0
tables==3.9.2
tzdata==2024.1
xlrd==2.0.1
XlsxWriter==3.2.0
